### Executable ###
*.exe
.cph
.DS_Store

.idea

input.txt
output.txt
error.txt
output_brute.txt

program.cpp
program copy*.cpp
program*
tempCodeRunnerFile.cpp
bruteforce-check/

/A.cpp
/B.cpp
/C.cpp
/C1.cpp
/C2.cpp
/D.cpp
/D1.cpp
/D2.cpp
/E.cpp
/F.cpp
/G.cpp

/a.cpp
/b.cpp
/c.cpp
/c1.cpp
/c2.cpp
/d.cpp
/d1.cpp
/d2.cpp
/e.cpp
/f.cpp
/g.cpp

program
program copy
tempCodeRunnerFile
A
B
C
D
E
F
G
a
b
c
d
e
f
g


