### Executable ###
*.exe
.cph
.DS_Store

input.txt
output.txt
error.txt
output_brute.txt

program.cpp
program copy*.cpp
tempCodeRunnerFile.cpp

A.cpp
B.cpp
C.cpp
D.cpp
E.cpp
F.cpp
G.cpp

a.cpp
b.cpp
c.cpp
d.cpp
e.cpp
f.cpp
g.cpp

program
program copy
tempCodeRunnerFile
A
B
C
D
E
F
G
a
b
c
d
e
f
g


